.container{
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center;     /* vertical centering */

    text-align: left;
    height: 80vh;
    width: 95vw;
    box-sizing: border-box;
    resize: none;
    line-height: 1.5;
}

.buttons{
    background-color: lightblue;
    color: black
}
    
.buttons:hover {
    background-color: gray;
    color: black;
    cursor: pointer;
}
.buttons:active {
    background-color: darkgray;
    color: black;
    border-color: red;
    /* cursor: pointer; */

}