.container{
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center;     /* vertical centering */

    text-align: start;
    height: 80vh;
    width: 95vw;
    box-sizing: border-box;
    resize: none;
    line-height: 1.5;
}