body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* .sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250;
  height: 100vh;
  background-color: #555;
  color: white;
  padding: 10px;
  z-index: 9999;
  margin-left: 0px;
} */

/* Button styling */
#toggleButton {
  position: fixed;
  top: 20px;
  right: 270px;
  padding: 10px 15px;   
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10000;
}

/* {
  "matches": ["<all_urls>"],
  "js": ["script/sidebar.js"],
  "css": ["css/sidebar.css"]
}
] */