body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Sidebar styling */
.sidebar {
  height: 100vh;
  width: 250px;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #111;
  padding-top: 20px;
  display: none; /* Hidden by default */
}

/* .sidebar a {
  display: block;
  color: white;
  padding: 15px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #575757;
} */

.sidebar h1 {
  display: block;
  color: white;
  padding: 15px;
  text-decoration: none;
  text-align: center;
}

.sidebar input {
  
}

/* Button styling */
#toggleButton {
  position: fixed;
  top: 20px;
  right: 270px;
  padding: 10px 15px;
  font-size: 16px;
}